.nav {
    width: 100vw;
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: transparent;
    z-index: 999;
}

.logo {
    max-width: 200px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.link {
    text-decoration: none;
    font-size: 1.5rem;
    color: inherit;
    font-weight: 600;
}

.link:hover {
    color: var(--text-gray);
}

.active {
    color: var(--text-yellow);
}

.hamburger-menu {
    display: none;
    width: 100vw;
    list-style: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -1000px;
    left: 0;
    transition: ease 1s;
}

.hamburger-menu .link {
    font-size: 1.5rem;
}

.hamburger-menu li {
    padding: 50px 0px;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.hamburger {
    display: none;
    z-index: 99;
    background-color: transparent;
    border: none;
}

.top-animate {
    transform: translateY(14px) rotateZ(45deg);
}

.middle-animate {
    opacity: 0;
}

.bottom-animate {
    transform: translateY(-14px) rotateZ(-45deg);
}

/* SMALL DEVICES */

@media screen and (max-width: 700px) {
    .main-menu {
        display: none;
    }

    .nav {
        justify-content: center;
        background-color: white;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 30px;
        right: 5px;
        font-size: 3rem;
    }

    .bar {
        content: '';
        width: 2.8rem;
        height: 7px;
        background-color: black;
        transition: ease 1s;
    }

    .bar-top {
        margin-bottom: 7px;
    }

    .bar-middle {
        margin-bottom: 7px;
    }

    .show {
        top: 0;
        left: 0;
    }
}